.app-container {
    margin-left: 2%;
}

.page-title {
    margin-top: 2%;
    margin-bottom: 3%;
}

.button-group-container {
    margin-left: 1%;
}

.grid-container {
    margin-top: 1%;
    margin-right: 1%;
    overflow: visible;
    white-space: nowrap;
}

.cell-row {
    height: 15px;
}

.cell {
    height: 15px;
    width: 15px;
    border: 0.1em solid #555555;
    display: inline-block;
}

.live-cell {
    background-color: #555555;
}